extends ../shared/template
block content

  .row
    .col-xs-6
      #map
    .col-xs-6
      .row
        .col-xs-12
          h1= vacation.name
      .row
        .col-xs-2
          .span Start
        .col-xs-2
          .span End
        .col-xs-2
          .span Latitude
        .col-xs-2
          .span Longitude
        .col-xs-2
          .span Photos
      .row(data-name=vacation.name, data-lat=vacation.lat, data-lng=vacation.lng)
        .col-xs-2
          .span= moment(vacation.start).format("MMM Do, YYYY")
        .col-xs-2
          .span= moment(vacation.end).format("MMM Do, YYYY")
        .col-xs-2
          .span= vacation.lat.toFixed(8)
        .col-xs-2
          .span= vacation.lng.toFixed(8)
        .col-xs-2
          .span= vacation.photos.length
      .row
        .col-xs-12
          form(method='post', action='vacations/#{vacation._id}/photos/download')
            label(for='url') Image URL
            input#url(name='url', type='text', autofocus=true)
          button.btn.btn-success(type='submit') Download Image
      .row
        .col-xs-12
          form(method='post', action='/vacations/#{vacation._id}/photos/upload', enctype='multipart/form-data')
            label(for='photos') Upload Image
            input.form-control#photos(type='file', name='photos', multiple=true)
          button.btn.btn-success(type='submit')  Upload Image

  .row
    .col-xs-12
      h2 Photos
        .show
          each photo in vacation.photos
            .gallery(style='background-image:url(#{photo});')


block scripts
  script(src='/js/user/show.js')

